<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Запрошенный юзер</title>
</head>
<body>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Почтовый ящик</th>

<!--      <form th:action="@{admin/sh}" th:object="${user}" method="post">-->
    </tr>

<!--    <tr th:action="@{users/sh}" th:object="${user}" th:method="get">-->
<!--      <td th:text="${user.getId()}">Id</td>-->
<!--      <td th:text="${user.getUsername()}">Имя</td>-->
<!--      <td th:text="${user.getLastName()}">Фамилия</td>-->
<!--      <td th:text="${user.getEmail()}">Почтовый ящик</td>-->

    <tr th:action="@{/sh}" th:object="${oneUser}" th:method="get">
      <td th:text="${oneUser.getId()}">Id</td>
      <td th:text="${oneUser.getUsername()}">Имя</td>
      <td th:text="${oneUser.getLastName()}">Фамилия</td>
      <td th:text="${oneUser.getEmail()}">Почтовый ящик</td>
    </tr>

  </table>
</div>
</body>
</html>

